<div class="container">
        <div class="row">
                <div *ngFor="let product of products; let productId = index" class="col-sm">
                        <a [routerLink]="[productId]">
                                <div class="card">
                                        <img class="card-img-top" src="{{ product.coverImage }}" alt="Card image cap">
                                        <div class="card-body">
                                                <h5 class="card-text">{{ product.name }}</h5>
                                                <p class="card-text">{{ product.description }}</p>
                                        </div>
                                </div>
                        </a>
                </div>
        </div>
</div>
