<label for="inputState">出身の海</label>
<select id="inputState" class="form-control" [(ngModel)]="selectedPlaceOfBirth"
        (change)="onfilterRadioButtonChanged()">
        <option value="All">
        </option>
        <option value="東の海">
                東の海
        </option>
        <option value="西の海">
                西の海
        </option>
        <option value="南の海">
                南の海
        </option>
        <option value="北の海">
                北の海
        </option>
        <option value="偉大なる航路">
                偉大なる航路
        </option>
        <option value="偉大なる航路 新世界">
                偉大なる航路 新世界
        </option>
</select>