<div *ngIf="product">
        <!--productが取得されない間は非表示にする-->
        <div class="page-header page-header-xs" data-parallax="true"
                [ngStyle]="{ 'background-image' : 'url(' + product.ship_img + ')'}">
                <!--styleでは動的コンテンツを与えられないのでngStyleにする、プロパティバインディングは右の値を左の変数に入れる-->
                <div class="filter"></div>
                <div class="container">
                        <div class="carousel-caption text-left">
                                <h1>{{ product.char_name }}</h1>
                                <p>{{ product.description }}</p>
                                <!--<p><a class="btn btn-lg btn-primary" href="#" role="button">$ {{ product.price }}</a></p>-->
                        </div>
                </div>
        </div>
        <div class="main">
                <div class="section">
                        <div class="container">
                                <div class="row">
                                        <div class="col-sm-12 col-md-8 mr-auto ml-auto charimg-container">
                                                <img src="{{ product.img }}">
                                        </div>
                                        <ul class="col-sm-12 col-md-4 info-box">
                                                <li *ngIf="product.birthday">
                                                        <span>誕生日</span>
                                                        <span>{{ product.birthday }}</span>
                                                </li>
                                                <li *ngIf="product.height">
                                                        <span>身長</span>
                                                        <span>{{ product.height }}cm</span>
                                                </li>
                                                <li *ngIf="product.age">
                                                        <span>年齢</span>
                                                        <span>{{ product.age }}歳</span>
                                                </li>
                                                <li *ngIf="product.blood_type">
                                                        <span>血液型</span>
                                                        <span>{{ product.blood_type }}</span>
                                                </li>
                                                <li *ngIf="product.place_of_birth">
                                                        <span>出生地</span>
                                                        <span>{{ product.place_of_birth }}</span>
                                                </li>
                                                <li *ngIf="product.favorite_food">
                                                        <span>好物</span>
                                                        <span>{{ product.favorite_food }}</span>
                                                </li>
                                                <li *ngIf="product.bounty">
                                                        <span>懸賞金</span>
                                                        <span>{{ product.bounty }}ベリー</span>
                                                </li>
                                                <li *ngIf="product.cv">
                                                        <span>キャラクターボイス</span>
                                                        <span>{{ product.cv }}</span>
                                                </li>
                                                <li *ngIf="product.popular_name">
                                                        <span>通り名</span>
                                                        <span>{{ product.popular_name }}</span>
                                                </li>
                                                <li *ngIf="product.devil_fruit">
                                                        <span>悪魔の実</span>
                                                        <span>{{ product.devil_fruit }}</span>
                                                </li>
                                                <li *ngIf="product.sovereign_haki">
                                                        <span>覇王色の覇気</span>
                                                        <span>{{ product.sovereign_haki }}</span>
                                                </li>
                                                <li *ngIf="product.observation_haki">
                                                        <span>見聞色の覇気</span>
                                                        <span>{{ product.observation_haki }}</span>
                                                </li>
                                                <li *ngIf="product.armameent_haki">
                                                        <span>武装色の覇気</span>
                                                        <span>{{ product.armameent_haki }}</span>
                                                </li>
                                                <li *ngIf="product.gender">
                                                        <span>性別</span>
                                                        <span>{{ product.gender }}</span>
                                                </li>
                                                <li *ngIf="product.first_appearance">
                                                        <span>初登場巻</span>
                                                        <span>{{ product.first_appearance }}</span>
                                                </li>
                                                <li *ngIf="product.first_appearance_story">
                                                        <span>初登場話</span>
                                                        <span>第{{ product.first_appearance_story }}話 {{ product.first_appearance_story_title }}</span>
                                                </li>
                                        </ul>
                                </div>
                        </div>
                </div>
        </div>

        <footer class="container">
                <p class="float-right"><a href="#">Back to top</a></p>
                <p>&copy; 2022 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
</div>