.charimg-container{
        width:100%;
        margin: 0 auto;
        margin-bottom: 50px;
}

.charimg-container img{
        width: 100%;
}
.info-box {
        list-style: none;

        li {
                margin-bottom: 10px;
        }

        span:first-child {
                font-size: 0.8rem;
        }

        span:nth-of-type(2) {
                font-size: 1.3rem;
                text-align: center;
                display: block;
        }
}