<div class="filter-container">
        <input type="radio" name="filter" value="All" [(ngModel)]="selectedPlaceOfBirth"
                (change)="onfilterRadioButtonChanged()" />
        <span>All</span>
        <input type="radio" name="filter" value="東の海" [(ngModel)]="selectedPlaceOfBirth"
                (change)="onfilterRadioButtonChanged()" />
        <span>東の海</span>
        <input type="radio" name="filter" value="西の海" [(ngModel)]="selectedPlaceOfBirth"
                (change)="onfilterRadioButtonChanged()" />
        <span>西の海</span>
        <input type="radio" name="filter" value="南の海" [(ngModel)]="selectedPlaceOfBirth"
                (change)="onfilterRadioButtonChanged()" />
        <span>南の海</span>
        <input type="radio" name="filter" value="北の海" [(ngModel)]="selectedPlaceOfBirth"
                (change)="onfilterRadioButtonChanged()" />
        <span>北の海</span>
        <input type="radio" name="filter" value="偉大なる航路" [(ngModel)]="selectedPlaceOfBirth"
                (change)="onfilterRadioButtonChanged()" />
        <span>偉大なる航路(前半の海)</span>
        <input type="radio" name="filter" value="偉大なる航路 新世界" [(ngModel)]="selectedPlaceOfBirth"
                (change)="onfilterRadioButtonChanged()" />
        <span>偉大なる航路 新世界</span>
</div>