<div class="filter-container">
        <div class="form-check form-check-inline">
                <input class="form-check-input" id="1" type="radio" name="filter" value="All" [(ngModel)]="selectedPlaceOfBirth"
                        (change)="onfilterRadioButtonChanged()">
                <label class="form-check-label" for="1">全て</label>
        </div>
        <div class="form-check form-check-inline">
                <input class="form-check-input" id="2" type="radio" name="filter" value="東の海" [(ngModel)]="selectedPlaceOfBirth"
                (change)="onfilterRadioButtonChanged()">
                <label class="form-check-label" for="2">東の海</label>
        </div>
        <div class="form-check form-check-inline">
                <input class="form-check-input" id="3" type="radio" name="filter" value="西の海" [(ngModel)]="selectedPlaceOfBirth"
                (change)="onfilterRadioButtonChanged()" >
                <label class="form-check-label" for="3">西の海</label>
        </div>
        <div class="form-check form-check-inline">
                <input class="form-check-input" id="4" type="radio" name="filter" value="南の海" [(ngModel)]="selectedPlaceOfBirth"
                (change)="onfilterRadioButtonChanged()">
                <label class="form-check-label" for="4">南の海</label>
        </div>
        <div class="form-check form-check-inline">
                <input class="form-check-input" id="5" type="radio" name="filter" value="北の海" [(ngModel)]="selectedPlaceOfBirth"
                (change)="onfilterRadioButtonChanged()">
                <label class="form-check-label" for="5">北の海</label>
        </div>
        <div class="form-check form-check-inline">
                <input class="form-check-input" id="6" type="radio" name="filter" value="偉大なる航路" [(ngModel)]="selectedPlaceOfBirth"
                (change)="onfilterRadioButtonChanged()" >
                <label class="form-check-label" for="6">偉大なる航路</label>
        </div>
        <div class="form-check form-check-inline">
                <input class="form-check-input" id="7" type="radio" name="filter" value="偉大なる航路 新世界" [(ngModel)]="selectedPlaceOfBirth"
                (change)="onfilterRadioButtonChanged()">
                <label class="form-check-label" for="7">偉大なる航路 新世界</label>
        </div>
</div>